<footer class="site-footer h-card  no-print">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

        <div class="row">
        <div class="spacer col-33">
          {%- if site.author %}
          <ul class="contact-list">
            {% if site.author.name -%}
            <li style="font-size: 1.6rem" class="p-name">{{ site.author.name | escape }}</li>
            {% endif -%}
            {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
            {%- endif %}
            <li>ECE First Year<br/>Kalyani Government Engineering College</li>
          </ul>
          {%- endif %}
        </div>

      </div>
    </div>

    <div class="social-links no-print">
      {%- include social.html -%}
    </div>

  </div>

</footer>